<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>757483130139-md3nc3npapkgevq4g9ofldnm8d02ocab.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.757483130139-md3nc3npapkgevq4g9ofldnm8d02ocab</string>
	<key>API_KEY</key>
	<string>AIzaSyBhY0iAA0CtApAIafi5Oj2HFWrmwnJlvWM</string>
	<key>GCM_SENDER_ID</key>
	<string>757483130139</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sezerkenar.chef</string>
	<key>PROJECT_ID</key>
	<string>chef-47db8</string>
	<key>STORAGE_BUCKET</key>
	<string>chef-47db8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:757483130139:ios:7fbd38654db0cc4cfd17be</string>
</dict>
</plist>